::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #201f1f;
}

::-webkit-scrollbar-thumb {
  background: #f8981d;
}

body {
  background-color: #201f1f;
  font-family: Calibri, Arial;
  margin: 0;
}
