@import './variables';

body {
  background-color: $secondaryColor;
  font-family: Calibri, Arial;
  margin: 0;
}
#movie-suggestion {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1320px;
  padding: 20px;
  width: 100%;
}
.loading,
.no-items {
  color: white;
  font-size: 15px;
  text-align: center;
}
.loading {
  color: $primaryColor;
}

@import 'components/dialog.scss';
@import 'components/filters.scss';
@import 'components/header.scss';
@import 'components/movies.scss';

@import 'node_modules/react-modal-video/scss/modal-video.scss';
