#filters {
  align-items: flex-start;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 35px;

  .sort {
    border-left: 1px solid $lightGrey;
    flex-basis: 150px;
    flex-shrink: 0;
    margin-left: 20px;
    padding: 10px 0 10px 20px;
  }
  .filter-label {
    color: white;
    font-size: 13px;
    margin-bottom: 3px;
  }
  .genres {
    transition: opacity 0.4s;

    &.blocked {
      cursor: not-allowed;
      opacity: 0.3;

      .genres-list {
        pointer-events: none;
      }
    }
    .genres-list {
      display: flex;
      flex-wrap: wrap;
      padding-top: 6px;

      .genre-button {
        background-color: transparent;
        border: 1px solid white;
        border-radius: 50px;
        color: white;
        cursor: pointer;
        font-size: 13px;
        padding: 5px 10px;
        margin: 0 10px 10px 0;
        transition: border-color 0.2s;

        &:focus {
          outline: 0;
        }
        &:hover {
          border-color: var(--primaryColor);
        }
        &.selected {
          background-color: var(--primaryColor);
          border-color: var(--primaryColor);
        }
      }
    }
  }
  select {
    background-image: linear-gradient(
        45deg,
        transparent 50%,
        var(--primaryColor) 50%
      ),
      linear-gradient(135deg, var(--primaryColor) 50%, transparent 50%),
      linear-gradient(to right, transparent, transparent);
    background-position: calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-color: transparent;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;

    border: none;
    color: var(--primaryColor);
    font-size: 18px;
    height: 45px;
    padding: 5px 0 5px 5px;
    margin: 0 0 0 -4px;
    width: 100%;
  }
}
