#media-list {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;

  .media-item {
    background-color: $darkGrey;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 20px 20px 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: calc(25% - 15px);

    &:after {
      content: '';
      display: block;
      padding-bottom: 210%;
    }
    &:nth-child(4n) {
      margin-right: 0;
    }
    .media-loading {
      position: absolute;
    }
    img,
    .media-poster-loading {
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
    .media-poster-loading {
      height: 68%;
    }
    .media-info {
      background-color: $darkGrey;
      bottom: 0;
      box-sizing: border-box;
      left: 0;
      padding: 15px;
      position: absolute;
      width: 100%;

      h2 {
        color: var(--primaryColor);
        font-size: 21px;
        font-weight: bold;
        margin: 0 0 5px;
        padding: 0;

        // Loader
        [class*='Skeleton'] {
          width: 80% !important;
        }
      }
      .media-text {
        color: white;
        font-size: 12px;

        // Loader
        [class*='Skeleton'] {
          margin-top: 10px !important;
        }
      }
      .media-actions {
        align-items: flex-start;
        display: flex;
        margin-top: 25px;

        .media-bt {
          background-color: #999;
          border: 0 none;
          border-radius: 10px;
          color: white;
          cursor: pointer;
          display: inline-block;
          font-size: 11px;
          font-weight: bold;
          padding: 5px 10px;
          text-decoration: none;
          text-transform: uppercase;
          transition: background-color 0.2s, color 0.2s;

          &:hover {
            background-color: white;
            color: $darkGrey;
          }
        }
        button.media-bt {
          background-color: var(--primaryColor);
          margin-right: 5px;
          outline: none;
        }
        .media-trailer-loading {
          color: var(--primaryColor);
          font-size: 15px;
          margin-right: 10px;
        }

        // Loader
        [class*='Skeleton'] {
          margin-right: 5px !important;
        }
      }
    }
  }
}

[class*='reactSkeleton'] {
  animation: ReactSkeletonAnimation 1.2s ease-in-out infinite;

  &::before {
    content: '\A0';
  }
}

@keyframes ReactSkeletonAnimation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -135% 0%;
  }
}
